.Fulfilment-option {
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(244, 244, 244);
  font-weight: bold;
}

.antd-radio .ant-radio-wrapper-checked .ant-radio-inner {
  border-color: black;
  background-color: black;
}
